.item-form {
    display: flex;
    flex-direction: column;
    min-width: 30rem;
    gap: 1rem;
}

.item-form label {
    display: flex;
    flex-direction: column;
    font-size: 0.875rem;
    color: var(--color-text);
}
