.room-page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 1rem;
}

.room-page .content {
  display: flex;
  gap: 1rem;
  flex: 1;
  overflow: hidden;
}

.room-page .content .items-column,
.room-page .content .recipes-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.room-page .content .items-column {
  border-right: 1px solid var(--color-border);
}
